*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: 0 auto;
}
header .container{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    display: flex;
    gap: 10px;
}
header .logo .fa-bars{
    font-size: 23px;
    cursor: pointer;
}
header .logo img{
    width: 100px;
    object-fit: contain;
}
header .search{
    width: 300px;
    position: relative;
}
header .search input{
    width: 100%;
    padding: 7px 10px 5px 35px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: #939098;
    background-color: #f0ebfc;
}
header .search .fa-magnifying-glass{
    position: absolute;
    top: 25%;
    left: 4%;
    color: #939098;
    cursor: pointer;
}
header .user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
header .user .notification{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
header .user .notification .fa-bell{
    font-size: 18px;
}
header .user .notification span{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
    color: #fff;
    background-color: #f50057;
}

header .user .user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header .user .user-info .img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .user-info .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .user-info .name span{
    font-size: 15px;
    text-transform: capitalize;
}
header .user-info .name .fa-angle-down{
    margin-left: 10px;
    cursor: pointer;
}