@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Header Section */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.149);
  z-index: 9999;
}

header .container {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  gap: 15px;
}

header .logo .fa-bars {
  font-size: 23px;
  cursor: pointer;
}

header .logo img {
  width: 100px;
  object-fit: contain;
}

header .search {
  width: 300px;
  position: relative;
}

header .search input {
  width: 100%;
  padding: 7px 10px 5px 35px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  color: #939098;
  background-color: #f0ebfc;
}

header .search .fa-magnifying-glass {
  position: absolute;
  top: 25%;
  left: 4%;
  color: #939098;
  cursor: pointer;
}

header .profil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .profil .notification {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

header .profil .notification .fa-bell {
  font-size: 18px;
}

header .profil .notification span {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
  color: #fff;
  background-color: #f50057;
}

header .profil .profil-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

header .profil .profil-info .img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .profil .profil-info .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .profil-info .name {
  font-size: 15px;
  text-transform: capitalize;
  position: relative;
  cursor: default;
}

header .profil-info .name .fa-angle-down {
  margin-left: 10px;
  cursor: pointer;
}
header .name .drop-nav {
  width: 100%;
  padding: 15px 0;
  border-radius: 0 0 5px 5px;
  list-style: none;
  position: absolute;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
  background-color: #fff;
  display: none;
}
.open {
  display: block !important;
}
header .name .drop-nav li {
  padding: 5px;
  text-align: center;
  transition: 0.5s ease;
}
header .name .drop-nav li:hover {
  background-color: #1d1d1d1f;
}
header .name .drop-nav li a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  color: #1d1d1d;
}

/* Main Section */
.main-section {
  padding-top: 65px;
  display: grid;
  grid-template-columns: 20% 80%;
  transition: 0.5s;
}

.main-section.f-width {
  grid-template-columns: 5% 95%;
}

/* Side Bar */
.main-section .side-bar {
  min-height: 100vh;
  padding: 50px 0 0 1px;
  background-color: #f9fbfc;
}

.side-bar .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-width .side-bar .user {
  align-items: start;
}
.side-bar .user .user-img {
  width: 50px;
  height: 50px;
  position: relative;
}

.side-bar .user .user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.side-bar .user .user-img span {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 0px;
  color: #fff;
  background-color: #f50057;
  cursor: pointer;
}

.side-bar .user .user-text {
  margin: 25px 0 15px;
  text-align: center;
  transition: 0.5s ease;
}
.side-bar .user .user-text h3 {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 500;
}

.side-bar .user .user-text h5 {
  margin-top: 7px;
  color: #858686;
  font-size: 13px;
  font-weight: normal;
}

.side-bar .user .user-icon span {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 7px;
}

.side-bar .user .user-icon span:first-of-type {
  background-color: #00e5ff;
}

.side-bar .user .user-icon span:nth-of-type(2) {
  background-color: #64ffda;
}

.side-bar .user .user-icon span:last-of-type {
  background-color: #a1ffcf;
}

.side-bar .user .user-icon span img {
  width: 100%;
  height: 100%;
  margin-bottom: -20px;
  object-fit: contain;
  object-position: bottom;
}
.side-bar > ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.side-bar > ul > li > a {
  padding: 15px 20px;
  border-left: 3px solid transparent;
  transition: 0.5s ease;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar > ul > li > a.active,
.side-bar > ul > li > a:hover {
  border-color: #f50057;
  background-image: linear-gradient(to right, #f500561a, transparent);
}
.side-bar ul li a img {
  margin-right: 15px;
}
.side-bar ul li a i {
  padding: 3px 6px;
  border-radius: 3px;
  font-style: unset;
  background-color: #1de5b3;
  transition: 0.5s ease;
}
.f-width .side-bar .user .user-icon,
.f-width .side-bar .user .user-text,
.f-width .side-bar ul li a i {
  display: none;
}
.f-width .side-bar > ul > li > a {
  font-size: 0;
}
/* sub-mune */
.side-bar > ul .sub-mune {
  padding-left: 50px;
  list-style: none;
  display: none;
}
.f-width .side-bar > ul > li {
  position: relative;
}
.f-width .side-bar > ul .sub-mune {
  width: 100px;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 99;
  border-radius: 0 5px 5px 0;
  background-color: #f9fafb;
}
.side-bar > ul .sub-mune li {
  margin: 5px 0 10px;
}
.side-bar > ul .sub-mune a {
  margin: 5px;
  font-size: 14px;
  color: #1d1d1d;
  text-decoration: none;
}
/* Main Content */
.main-section .main-content {
  padding: 50px 25px;
  background-color: #f1f5f8;
}
/* Top Nav */
.main-section .main-content .top-nav {
  padding: 15px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  background-color: #fff;
}
/* filter */
.main-section .top-nav .filter {
  width: 18%;
}
.main-section .top-nav .filter select {
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  text-transform: capitalize;
  outline: none;
  border: none;
  color: #1d1d1d;
  border-bottom: 1px solid #e5e5e5;
}
/* Links */
.main-section .top-nav .links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 100px;
}
.main-section .top-nav .links li {
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.main-section .top-nav .links .active {
  border-bottom: 1px solid #e5e5e5;
}
.main-section .top-nav .links a {
  color: #1d1d1d;
  font-size: 15px;
  text-decoration: none;
}
/* show*/
.main-section .top-nav .show {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}
.main-section .top-nav .show .grid,
.main-section .top-nav .show .list {
  padding: 0 5px;
  font-size: 18px;
  cursor: pointer;
}
/* Main Titel */
.main-content #link-1,
.main-content #link-2,
.main-content #link-3 {
  display: none;
}
.main-content .data-show {
  display: block !important;
}
.main-content .text {
  padding: 50px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-content .text .titel h5 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
}
.main-content .text .titel h3 {
  font-size: 18px;
  font-weight: 500;
}
.main-content .text a {
  padding: 5px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #00d67e;
  text-decoration: none;
  transition: 0.7s ease;
}
.main-content .text a:hover {
  color: #1d1d1d;
  text-decoration: underline;
}
/* Big Carts */
.main-section .main-content .big-carts {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.main-section .main-content .big-carts.list {
  grid-template-columns: repeat(1, 1fr);
}
.main-section .big-carts .cart {
  padding: 20px 15px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 22;
}
.main-section .big-carts .cart:first-of-type {
  background: linear-gradient(to right, #44d8e8, #03a9f4);
}
.main-section .big-carts .cart:nth-of-type(2) {
  background: linear-gradient(to right, #c07dfe, #8452ff);
}
.main-section .big-carts .cart:last-of-type {
  background: linear-gradient(to right, #3d9bfd, #3d60fe);
}
.main-section .big-carts .cart .rate {
  display: flex;
  gap: 15px;
  z-index: 22;
}
.main-section .cart .rate .users,
.main-section .cart .rate .stars {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #1b4a5c;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-section .rate .stars .fa-star {
  color: #ffdc64;
}
.main-section .rate .stars .star {
  color: #515961;
}
.main-section .big-carts .cart .titel {
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 22;
}
.main-section .cart .titel .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d7aefe;
  overflow: hidden;
}
.main-section .cart .titel .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-section .cart .titel .description h2 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}
.main-section .cart .titel .description p {
  font-size: 13px;
}
.main-section .cart .information {
  z-index: 22;
}
.main-section .cart .information a {
  color: #fff;
  font-size: 13px;
}
.main-section .big-carts .big-img {
  width: 180px;
  height: 180px;
  position: absolute;
  right: -20px;
  bottom: 0;
  z-index: 11;
}
.main-section .big-carts .big-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.main-section .big-carts .cart::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  bottom: 0;
  background-color: #3a3a3a;
  z-index: 20;
}
.main-section .big-carts .cart:first-of-type::before {
  background: linear-gradient(to top, #03a9f4, transparent);
}
.main-section .big-carts .cart:nth-of-type(2)::before {
  background: linear-gradient(to top, #7b4dfb, transparent);
}
.main-section .big-carts .cart:last-of-type::before {
  background: linear-gradient(to top, #3b58f5, transparent);
}

/* Small Carts */
.main-section .small-carts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.main-section .small-carts.list {
  grid-template-columns: repeat(1, 1fr);
}
.main-section .small-carts .cart {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}
.main-section .small-carts .cart .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 35px;
}
.main-section .small-carts .top .titel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-section .cart .top .titel .img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.main-section .cart .top .titel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-section .small-carts .cart .top .titel h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.main-section .small-carts .cart .top .titel p {
  font-size: 13px;
  color: #a9a9a9;
}
.main-section .small-carts .top .more {
  position: relative;
}
.main-section .small-carts .top .more .fa-ellipsis-vertical {
  padding: 0 5px;
  cursor: pointer;
}
.main-section .small-carts .top .more ul {
  padding: 15px 20px 0;
  list-style: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 5px 19px rgba(0, 0, 0, 0.149);
  display: none;
}
.main-section .top .more ul li {
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease;
}
.main-section .top .more ul li:hover {
  color: red;
}
.main-section .small-carts .cart .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section .small-carts .bottom .users {
  display: flex;
  padding-left: 10px;
}
.main-section .small-carts .bottom .user {
  width: 30px;
  height: 30px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .small-carts .bottom .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-section .small-carts .bottom .user:last-of-type {
  color: #fff;
  background-color: #7c4dff;
}
.main-section .small-carts .bottom span {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

/* Start Media Queries */

/* Medium devices (tablets, less than 1200px) */
@media (max-width: 1199.98px) {
  .main-section.f-width {
    grid-template-columns: 6% 94%;
  }
  .main-section .top-nav .links {
    gap: 70px;
  }
  .main-section .main-content .big-carts {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section .small-carts {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .main-section {
    grid-template-columns: 25% 75%;
  }
   .main-section.f-width {
    grid-template-columns: 8% 92%;
  }
  .main-section .main-content {
    padding: 50px 20px;
  }
  .main-section .main-content .top-nav {
    gap: 0px;
  }
  .main-section .top-nav .filter select {
    font-size: 14px;
  }
  .main-section .top-nav .links {
    gap: 15px;
    justify-content: space-between;
  }
  .main-section .top-nav .links a {
    font-size: 14px;
  }
  .main-section .top-nav .show {
    gap: 20px;
  }
  .main-section .main-content .big-carts {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-section .cart .titel .avatar {
    width: 50px;
    height: 50px;
  }
  .main-section .cart .titel .description h2 {
    font-size: 18px;
  }
  .main-section .cart .titel .description p {
    font-size: 15px;
  }
  .main-section .cart .information a {
    font-size: 14px;
  }
  .main-section .small-carts {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-section {
    grid-template-columns: 24% 76%;
  }
  .main-section.f-width {
    grid-template-columns: 10% 90%;
  }
  header .search {
    display: none;
  }
  .main-section .top-nav .links {
    width: 100%;
    padding: 0 20px;
  }
  .main-section .top-nav .filter {
    display: none;
  }
  .main-section .top-nav .show {
    display: none;
  }
  .side-bar .user .user-text {
    display: none;
  }
  .side-bar .user .user-icon span {
    margin-top: 15px;
    width: 30px;
    height: 30px;
  }
  .side-bar .user .user-icon span img {
    margin-bottom: -10px;
  }
  .side-bar > ul > li > a {
    font-size: 0;
  }
  .side-bar > ul > li > a i {
    font-size: 14px;
  }
  .main-section .main-content .top-nav {
    padding: 10px;
    gap: 5;
  }
  .main-section .small-carts {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header .container {
    padding: 15px 15px;
  }
  header .logo img {
    width: 80px;
  }
  header .logo .fa-bars {
    font-size: 19px;
  }
  header .profil .notification {
    width: 30px;
    height: 30px;
  }
  header .profil {
    gap: 5px;
  }
  header .profil .profil-info {
    gap: 5px;
  }
  header .profil-info .name span {
    display: none;
  }
  header .name .drop-nav {
    width: fit-content;
    padding: 0 10px;
    top: 41px;
    right: -50%;
  }
  .main-section {
    grid-template-columns: 0% 100%;
  }

  .main-section .side-bar {
    overflow: hidden;
  }
  .main-section.f-width {
    grid-template-columns: 100% 0%;
  }
  .main-section.f-width .side-bar {
    z-index: 999;
  }
  .main-section.f-width {
    overflow: hidden;
    height: 100vh;
  }
  .main-section.f-width .user-img {
    margin: 0 auto 0 5px;
  }
  .main-section .main-content .top-nav {
    justify-content: center;
  }
  .side-bar .user .user-icon span {
    display: none;
  }
  .side-bar > ul {
    margin-top: 30px;
    gap: 10px;
  }
  .side-bar > ul > li > a {
    font-size: 0;
  }
  .side-bar > ul > li > a i {
    display: none;
  }
  .f-width .side-bar > ul .sub-mune {
    margin-left: 15px;
    position: unset;
  }
  .side-bar > ul .sub-mune li:last-of-type {
    margin-bottom: 0;
  }
}
/* XX-Small devices (portrait phones, less than 400px) */
@media (max-width: 399.98px) {
  .main-section .top-nav .links {
    padding: 5px;
  }
  .main-section .top-nav .links a {
    font-size: 12px;
  }
  .main-content .text {
    padding: 40px 0 20px;
  }
  .main-content .text .titel h5 {
    font-size: 12px;
  }
  .main-content .text .titel h3 {
    font-size: 15px;
  }
  .main-content .text a {
    padding: 5px 10px;
    font-size: 14px;
  }
  .main-section .big-carts .cart {
    padding: 15px 10px;
    gap: 30px;
  }
  .main-section .cart .titel .avatar {
    width: 40px;
    height: 40px;
  }
  .main-section .cart .titel .description h2 {
    font-size: 15px;
  }
  .main-section .cart .titel .description p {
    font-size: 13px;
  }
  .main-section .cart .information a {
    font-size: 13px;
  }
  .main-section .big-carts .big-img {
    width: 130px;
    height: 130px;
    right: -5px;
  }
}
